@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.product-grid-container {
  max-width: 800px;
  margin: 0 auto;
}

.product-grid-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 20px; /* Adjust the gap between products */
}

.product-card {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05); /* Adjust the scale factor as desired */
}

.product-image {
  width: 300px; /* Increase the width value */
  height: 300px; /* Increase the height value */
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
